[2014-04-29 11:13] azhuravlov opened #1 "Serialization"
It would be great if this bundle will be configurable to choose serialization type - (un)?serialize, json_(en|de)code. To provide availability to read data from different systems.

[2014-05-13 13:52] dmishh opened #3 "Settings' sections"
Add ability to group settings into sections

[2014-05-13 14:08] dmishh opened #4 "Add console command for settings management"

[2014-05-13 14:09] dmishh opened #5 "Default value for setting in SettingsManager::get"

[2014-05-13 14:21] dmishh opened #6 "Automatic conversion to choosed serialization mechanism"

[2014-05-13 20:23] #1 closed, assigned to nobody

[2014-05-14 09:10] dmishh opened #7 "Rewrite serialization: remove switch and add separate classes for serializers"

[2014-05-15 19:55] #7 closed, assigned to dmishh

[2014-06-13 18:59] dmishh opened #8 "Settings caching"
Memcached, file system, etc

[2015-02-17 06:49] Nyholm commented on #8
I'm happy to implement this one using DoctrineCacheBundle.

[2015-02-17 19:21] dmishh commented on #8
Tobias, feel free to do this. Thanks!

[2015-02-17 20:29] Nyholm commented on #8
The way I see it, there are two places you can implement a cache. I want to have a discussion what you (or anyone) think about these two (or a third) solution.

## Solution A)

Implement the cache before the SettingsManager layer. Every call to `SettingsManager::get` and `SettingsManager::all` will first check the cache and then the database. Calls to `SettingsManager::set`, `SettingsManager::setM

[2015-02-26 15:28] Nyholm opened #16 "What should SettingManager::all return?"
As the topic suggest, what should be returned on all? (A) All settings that the users have stored or (B) All settings that the user can store?

Scenario A:
[code]

Scenario B:
[code]

At the moment is A implemented. I suggest we should implement B instead because it make more sense. Especially with #15.

[2015-03-09 12:05] dmishh commented on #16
Absolutely :+1:

[2015-03-09 12:17] Nyholm commented on #16
Solving this issue will also (like #10) be a BC break.

[2015-03-09 12:18] dmishh commented on #8
I suggest that solution A is simpler and that's why I like it more. We can always switch to something more intelligent but keeping the complexity as low as possible is one of our goals. What do you think @Nyholm ?

[2015-03-09 12:20] dmishh commented on #16
Let's do this and I'll start 2.x

[2015-03-09 12:35] Nyholm commented on #8
Agreed!

[2015-03-09 14:42] Nyholm commented on #16
I suggest to create a new 1.x branch and continue the work on 2.x in master. I will happily implement a solution to this issue and the cache issue (#8) as soon as #10 is merged. It will be too many merge conflicts otherwise...

(It's 3 PRs that will do a lot of work on the same class.)

[2015-03-09 14:45] dmishh commented on #16
:+1:
Sure, I'll setup the branch for 1.0 today

[2015-03-09 17:14] Nyholm commented on #5
I'll take this one too!

[2015-03-15 21:22] #5 closed

[2015-03-16 20:58] #16 closed

[2015-03-24 13:10] Nyholm opened #23 "Rename USER scope to LOCAL"
It make no sense anymore to have a `User` scope. We should consider renaming it to `Local`.

[2015-03-24 13:10] Nyholm opened #24 "Rewrite the message in WrongScopeException"
We should rewrite the `WrongScopeException` to something more descriptive. Ie there are two reasons for the `WrongScopeException` to be thrown.

1. You have misconfigured the scope
2. You have called the `SettingsManager::get` with the wrong amount of parameters. Either you forgot the $owner on `Local` scope or you used $owner on a `Global` scope.

[2015-03-29 07:41] dmishh commented on #23
I agree with you about renaming, but `Local` isn't a perfect choice, as for me.
Let's think about alternatives: `Person`, `Identity`, `Owner`, `Private`, etc

[2015-03-29 07:45] dmishh commented on #24
Did you mean splitting `WrongScopeException` into two exceptions that will cover two options you mentioned?

[2015-03-29 08:11] dmishh opened #25 "Rename SettingOwner → SettingOwnerInterface"

[2015-03-29 09:30] Nyholm commented on #24
I don't think it's possible for us to know what the reason for the error is. I just want the exception message to be more descriptive about what could have caused the exception to be thrown. So my suggestion is purely to rewrite the message.

[2015-03-29 14:44] Nyholm commented on #23
Hm, you might be right. I thought of `Local` as contrary to `Global`. I don't like a scope name like `Person` because it implies that a SettingOwner shoud be a user when it could be any object.

Let's see what the different scope really does:
* All => This setting is applicable to *all* scopes, but it is really "scope free".
* Global => This setting can **not** be tied to a `SettingOwner`.
* User

[2015-03-29 18:54] dmishh commented on #23
I think we should rename `User` => `Private` and keep `Global`. My concern is that `private` and `public` are very similar, it seems they are related to the same entity (like methods of a class, etc) but the global scope is totally independent from owner. What do you think?

[2015-03-30 06:53] Nyholm commented on #23
Okey. Hm, But you do also have a global and local (function) scope of variables.

I feel that the names All (1), Global (2), Private (3) are a bit strange. Since 2 is the opposite to 3 they should be named with words that are generally know as opposites...

Reading futher.. [Wikipedia about scopes](http://en.wikipedia.org/wiki/Scope_(computer_science)#Levels_of_scope) refers to:
* Expression scope

[2015-04-04 10:09] #25 closed

[2015-04-04 10:13] dmishh commented on #23
Referring to the `SettingsOwnerInterface` we could rename `private` => `owner` and it will have better match to the meaning.
Final list: `ALL`, `GLOBAL`, `OWNER`
What's your point on this, @Nyholm ?

[2015-04-04 10:14] dmishh commented on #24
Ah, I've got it. How about `ScopeLogicException` ?

[2015-05-07 09:24] Nyholm commented on #23
Sure, it makes sense. Let's have `GLOBAL` and `OWNER`.

I suggest to rename `ALL` to `NONE`. I believe this is a scope independent setting. Consider the following:

Scope | Settings
--- | ---
ALL | foo
GLOBAL | bar
OWNER | baz

I have declared foo to `ALL`. Is that **all** scopes? Or "all" what? If we want to fetch settings in the `OWNER` scope. What should be returned?
* A) baz
* B) baz and foo

[2015-05-07 15:29] Falc opened #28 "Duplicated settings"
I have found a weird problem when using alpha2, the database is storing duplicated settings.

<hr>

With this configuration...
[code]

...and this code in a Symfony command:
[code]

Everything works fine, the "dmishh_settings" table stores a single row:

| id | name  | value | ownerId |
|----|-------|-------|---------|
| 1  | test1 | i:3;  | NULL    |

<hr>

With this configuration...
[code]

...a

[2015-05-11 19:55] dmishh commented on #28
Thanks, @Falc
I'll check this out soon

[2015-05-17 19:26] dmishh commented on #28
Fixed in 6c88cd6
Thanks to @Nyholm :+1:

[2015-05-17 19:27] #28 closed

[2015-05-21 12:28] Nyholm opened #31 "Make it easier to configure settings"
There is a very deep tree. A typical setting config looks like this:

[code]

I suggest to make it a bit more flat. Maybe something like:
[code]

I've moved the `type` and `constraints` up one level and removed the `validation`. How do you feel about this change? Should I make a PR?

[2015-05-24 15:24] dmishh commented on #31
I thought about simplifying the configuration from the start of the project. Let me think about this a while.

[2015-05-24 15:29] Nyholm commented on #31
Sure. I just added 20+ config values in my application with different scopes, owners, constraints and validations. It did feel that it could be some improvement here.

[2015-05-24 15:46] Nyholm commented on #24
Checkout #32

[2015-05-30 18:17] #8 closed

[2015-05-30 19:05] #24 closed

[2015-06-04 11:53] metalmini opened #34 "database schema for clean install"
Hi guys,

I am trying to install this bundle in my project but when i create a new database and run  `doctrine:schema:create` i get the following error:
 ` There is no column with name 'ownerId' on table 'dmishh_settings'.  `
Any idea what could be causing this?

[2015-06-04 12:21] dmishh commented on #34
Hi, @metalmini. Thanks for the report.
I'll check this soon

[2015-06-04 12:36] metalmini commented on #34
I just installed version 1 and this seems to be working just fine. But if i update to the latest it throws the same error. Composer.json contains `"dmishh/settings-bundle": "2.0.*@dev"`

[2015-06-04 21:29] Nyholm commented on #34
I tried to reproduce the error but a could not. Im using Doctrine 2.5 and Symfony 2.7 with MySQL 5.6 on OSX.

Will this patch help? https://github.com/dmishh/SettingsBundle/commit/5478543fecfe16b2938b806755f6c94db45521a8

[2015-06-22 12:52] Rvanlaak commented on #23
I think within the scope there should also be a separation on `Section`. That way a user can have settings per module.

[2015-06-22 12:57] Nyholm commented on #23
:+1: Interesting idea!
Could you please elaborate this a little bit. Give some use cases and/or examples.

[2015-06-22 13:02] rvanlaak opened #37 "Template override via Bundle"
You mention overriding the layout and manage Twig file [in your readme](https://github.com/dmishh/SettingsBundle#overriding-layout), but I think this can easily be done by using [Symfony's default Bundle inheritance](http://symfony.com/doc/current/cookbook/bundles/inheritance.html#overriding-resources-templates-routing-etc).

Copying `layout.html.twig` to `app/Resources/DmishhSettingsBundle/views`

[2015-06-22 13:06] Rvanlaak commented on #23
Well, I'm implementing this bundle as a replacement of the [CraueConfigBundle](https://github.com/craue/CraueConfigBundle) because it seems to have more advanced options. My use-case for switching to this bundle is the user scope, I'd like to introduce a setting (internal counter) for a user that keeps track of the number of times it opened a "tour".

Great about the sections in that bundle is tha

[2015-06-22 14:18] Nyholm commented on #23
So the section is nothing but a label you attach that allows you group settings? That is a feature I also would like to see. I'm sure @dmishh are happy to see a PR. =)

I'm not too sure what you mean. If I assume that the "current settings" are settings defined in CraueConfigBundle, then no. They store their settings differently. Aslo we need the config of "valid" settings.

[2015-06-22 14:33] Rvanlaak commented on #23
Okay, then I'd propose a way to lower the bar for developers to use this bundle. I do not want to define all settings in a yml file, they simply are a way to toggle certain features within my application and I'm the only one that will change them :wink:

I can think of letting them fall under a certain "admin" section, and if only that section has a configuration, that's fine. Ofcourse the setting

[2015-06-22 14:39] Rvanlaak opened #38 "[RFC] Use TranslationBundle while editing Settings"
The backend to edit Settings is great, especially because it just uses the Symfony form component in a proper way.

Some of my Settings require translation, that's why I'd like to know you opinion on integrating the [`TranslationFormBundle`](https://github.com/a2lix/TranslationFormBundle) into your bundle. It will allow the `SettingsBundle` to introduce an optional config parameter:

[code]
Can yo

[2015-06-29 02:31] dmishh commented on #23
@Rvanlaak *certain* is key here. You don't have unlimited or random features, do you? In that case, you always can be precise with the features list. Of course, adding all of them to the config file is a bit burdening, but I'm considering it as a good practice.

As for the Settings' sections, we have an issue #3 created already

[2015-06-29 02:34] dmishh commented on #23
@Nyholm
`NONE` means to me like something is turned off, isn't active, empty, unfulfilled. But the meaning should be: covers all, includes all possible states, gives the ability to use all possible features/options/etc

[2015-06-29 02:35] dmishh commented on #34
@metalmini Any updates? Can you reproduce the issue on the current state of the `master` branch?

[2015-06-29 02:39] dmishh commented on #38
This is a very cool feature! @Rvanlaak It would be just amazing if you felt the power to implement it and create eventually a pull request

[2015-06-29 02:41] dmishh commented on #37
What if you want to use your existing layout without copying it to the `app/Resources/DmishhSettingsBundle/views` folder?

[2015-06-29 07:05] Rvanlaak commented on #37
Let `/app/Resources/DmishhSettingsBundle/views/layout.html.twig` extend your existing layout, and put the `{% block settings_form %}{% endblock %}` in your default block. Maybe the block can be renamed to `content` to make the block's name more consistent with other bundles.

[2015-06-29 07:17] Rvanlaak commented on #38
:+1: will dive into it it later this week.

[2015-07-27 03:20] dmishh commented on #34
Considering this as resolved

[2015-07-27 03:20] #34 closed

[2015-08-20 18:27] seydu opened #40 "Load settings choices from database"
I have a use case where putting the choices for a setting in the configuration files is not naturel.
I have content stored in a database and users can select some items from this content and put it
in their preferences.

The form type class Dmishh\Bundle\SettingsBundle\Form\Type/SettingsType builds choices from the configuration and I think it does not allow to provide choices from another source.

[2015-08-21 00:32] dmishh commented on #40
It's a good idea, actually. But how do you imagine utilization of the Event Dispatcher for this task?

[2015-08-21 18:31] seydu commented on #40
I am thinking of creating a tag to handle event listener services. An event will be fired for each field options before building the form field.

In the meantime a have changed the SettingsType class to call call a method that provides the options.
This allows child classes to provide the extra options. See [feature-custom-form-options](https://github.com/seydu/SettingsBundle/tree/feature-custom-f

[2015-08-24 04:00] dmishh opened #42 "Switch to PHP 5.4+"
Because of Doctrine that requires PHP 5.4+ for version 2.5.0

[2015-10-05 07:52] jewome62 opened #45 "[Insight] Projects must not depend on dependencies with known security issues"
---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/5375684f-5b40-489a-aca5-eb01c3ca5ac2/analyses/24)_

[2015-10-05 08:53] jewome62 commented on #23
:+1:

I want use the "User Scope" to save locale (and have setting by locale)
I think scope private is better than scope user

[2015-10-12 09:14] jcchavezs commented on #3
+1

[2015-12-11 11:31] rvanlaak commented on #42
:+1:

[2015-12-11 11:34] rvanlaak commented on #31
Think this BC break should be part of the `2.0` release. Is that release close? :+1:

[2015-12-22 16:12] Atyz opened #50 "2.8 / 3.0 Compatibily ?"
List of TODOs for `~2.8|~3.0` compatibility:

- [x] Twig `SettingExtension` deprecations
- [x] Decide on bumping `framework-bundle` from `2.3 LTS` to `2.6` or `2.7 LTS`
- [x] Service definition factory method #62
- [ ] `FormType::getName`, `FormType::setDefaultOptions`, buildForm via FormType FQCN

[2015-12-29 22:04] jesusOmar commented on #3
+1

[2016-02-18 12:03] juanolon opened #51 "settings per entity"
Hey,
nice bundle btw. i do have a question:
i would like to have different settings per user. On my project, we use different entities per user group. And each of them has different settings. The user entity already implements the `SettingsOwnerInterface` interface and `getSettingIdentifier()` returns different id's per user type. But all settings with scope "user" are being show to all users.

 S

[2016-03-02 11:23] rvanlaak commented on #50
@dmishh [the `factory_method` is deprecated](https://github.com/dmishh/SettingsBundle/blob/master/src/Dmishh/Bundle/SettingsBundle/Resources/config/services.yml#L22), so hope that can be fixed.

[2016-03-07 11:18] dmishh commented on #37
@rvanlaak @Nyholm hi guys. I really don't have time to support this bundle, but I don't want to just bury it. I would like to transfer the bundle to one of you, since you've been the most active contributors. Of course if you want to.

[2016-03-07 11:28] Nyholm commented on #37
Lets both do it. I've been reading all issues and PRs for a year now.
@rvanlaak Do you want to join forces and make sure 2.0 is released?

[2016-03-07 11:44] dmishh commented on #37
Ok, I'll give you guys push access.

[2016-03-07 11:46] dmishh commented on #37
Done @Nyholm @rvanlaak

[2016-03-07 11:52] rvanlaak commented on #37
Would be great! :rocket: How is sf3.0 compatibility? Otherwise I'll focus on that.

[2016-03-12 09:30] Nyholm opened #52 "Implement PSR-6 cache"

[2016-03-12 09:34] Nyholm commented on #51
Hey.
Sorry for the slow response. Have I understood you correctly that you have multiple user groups and each group got different set of settings?

[2016-03-12 09:52] juanolon commented on #51
hi,
no problem. if you mean "user groups" like, different entities pre user type, then yes :)

[2016-03-12 10:02] Nyholm commented on #45
I have a PR ready that will fix this. Just waiting on #53 to be merged.

[2016-03-12 10:24] rvanlaak commented on #52
:+1:

[2016-03-12 10:31] rvanlaak commented on #51
I remember that we've discussed the grouping before a while ago in #23 so maybe also take that into account.

[2016-03-12 10:46] Nyholm opened #57 "Understanding scopes"
I want to discuss planned features of this bundle. The PR (#54) from @juanolon got me thinking of this.

Currently we have 3 scopes. `GLOBAL` and `USER` where the latter requires you to provide an entity. We do also have `ALL` which is some kind of default for the `USER` scope. (One can discuss if the names are proper #23).

PR #54 introduce a granularity of the `USER` scope. I understand the need

[2016-03-12 10:50] Nyholm commented on #31
Should I send a PR for this?

[2016-03-12 11:06] rvanlaak commented on #31
:+1: for simplifying it and removing one level, but maybe try to stick as close to the `FormBuilder::add` interface as possible?

https://github.com/symfony/form/blob/master/FormBuilder.php#L59

[2016-03-12 11:34] Nyholm commented on #31
:+1:

[2016-03-12 11:49] rvanlaak commented on #57
Option 2, which involves the namespaces, also can be seen as a simple solution for grouping settings? Making the scopes dynamic would involve changes to the database structure, so probably option 2 is the easiest solution because it solely involves changing the configuration format.

[2016-03-12 12:12] Nyholm commented on #57
Okey, Great.

Correct me if Im wrong, but that will fix #3, right? If so, Im happy to make sure #54 is merged.

[2016-03-12 12:12] #52 closed

[2016-03-12 12:15] rvanlaak commented on #57
Correct, it will fix #3 and I think for now #54 is the quick win we should pick.

[2016-03-12 12:20] Nyholm commented on #50
Can you provide a TODO on what to be done before this issue is resolved?

[2016-03-12 12:21] Nyholm commented on #42
Fixed by #58

[2016-03-12 12:21] #42 closed

[2016-03-12 12:22] Nyholm commented on #45
This is fixed by #58

[2016-03-12 12:22] #45 closed

[2016-03-12 12:24] Nyholm commented on #37
@rvanlaak: Will you send a PR?

[2016-03-12 12:28] Nyholm opened #61 "Code standards"
I would suggest to follow Symfony best practices with coding standards. That means PSR-1 and PSR-2 + some extra Symfony stuff.

Any thoughts?

[2016-03-12 14:14] rvanlaak commented on #50
@Nyholm added TODO list to issue description

[2016-03-12 14:30] rvanlaak commented on #37
Do you want me to get rid of the `settings_manager.layout` parameter? It is solely used by the `SettingController:108`. Think we should always advocate for the bundle inheritance.

[2016-03-12 14:33] Nyholm commented on #37
Yeah. Lets follow the Symfony best practices. Only inheritance will be fine.

[2016-03-12 14:35] Nyholm opened #66 "Add documentation about PSR-6 cache"

[2016-03-12 14:38] #31 closed

[2016-03-12 14:47] rvanlaak commented on #61
:+1: to me, but you want to add this in `CONTRIBUTE.md` or another file? Bundle already looks quite PSR-2 to me.

[2016-03-12 14:48] Nyholm commented on #61
I though about minor fixes like #68

[2016-03-12 14:48] #66 closed

[2016-03-12 14:59] #37 closed

[2016-03-12 15:03] Nyholm opened #71 "Remove legacy SF 2.3 code"
We got some legacy code in SettingsType.php. We do no support sf 2.3 anymore.

[2016-03-12 15:07] Nyholm opened #72 "Update BuildForm to use FQCN"
This is required to support sf 3.0.

Does this mean we need to specify the FQCN in the config?

[code]

We maybe should have a converter somehow for some standard types.

[2016-03-12 15:09] Nyholm opened #73 "Make sure FormType::getName is SF3.0 compatible"

[2016-03-12 15:09] Nyholm commented on #50
I've created #71, #72 and #73

[2016-03-12 15:09] #50 closed

[2016-03-12 15:12] rvanlaak commented on #72
Yes you're right, the `type` in the config always should point to the FQCN. So your config example is correct.

Don't think introducing a converter is a good idea, people will have start to get used to adding form types via the FQCN.

[2016-03-12 15:22] rvanlaak commented on #73
I'm confused now I found out `framework-bundle` does not include the `form` component. See https://github.com/symfony/framework-bundle/blob/master/composer.json

So, apparently we do need to include the other components that were defined before: https://github.com/dmishh/SettingsBundle/blob/1.x/composer.json

The required components are defined via `require-dev` though, that's why tests pass: http

[2016-03-12 15:29] Nyholm commented on #73
Oh, thats right.
I do not think we need to add the components that is added by framework bundle.

So :+1: to adding the form component to our composer.json

[2016-03-12 15:37] rvanlaak commented on #73
What about the others?:

        "symfony/security": "~2.1,!=2.5.0",
        "symfony/validator": "~2.1,!=2.5.0",
        "symfony/translation": "~2.1,!=2.5.0",

[2016-03-12 15:41] #61 closed

[2016-03-12 15:44] juanolon commented on #57
personally, i kind of like the option 1. this way, it's possible to scope settings, on the fly. like for example, an user get new roles, so `getScope` could return a new namespace. but this involves some other problems, like:
* what is a scope? the class namespace? just some string?
* i'm not sure, to what extend, this option would involve DB changes, as the old settings would not be loaded, and n

[2016-03-12 16:06] rvanlaak commented on #57
Most of the times the easiest solution is the way to go, as long as it solves your use cases. So lets try to agree on option 2. Don't like the idea that database changes would be needed :wink:

[2016-03-12 16:27] rvanlaak commented on #6
This one is a bit unclear to me. @dmishh can you elaborate on what you mean with this?

[2016-03-12 16:28] rvanlaak commented on #3
#57 complements this one, so closing this one. Maybe @jcchavezs and @jesusOmar can contribute to the discussion there.

[2016-03-12 16:28] #3 closed

[2016-03-12 16:31] rvanlaak commented on #40
Symfony 2.7 improved the `ChoiceType`, so we could make use of the `choice_loader` to make the setting choices dynamic.

More info: http://symfony.com/blog/new-in-symfony-2-7-choice-form-type-refactorization

[2016-03-12 16:36] Nyholm commented on #57
Will it still make sense to have the scope named "USER"? Maybe rename the scope as well?

[2016-03-12 16:41] Nyholm commented on #73
We need to add

[code]

Security is part of the framework bundle, right?

Yes

[2016-03-12 16:42] rvanlaak commented on #73
`translation` also is required via the `framework`.

[2016-03-12 16:47] Nyholm commented on #73
Sorry, correct.

[2016-03-13 10:40] rvanlaak commented on #73
`form` requires `validator`, see:  https://github.com/symfony/form/blob/master/composer.json#L28

See PR #74

[2016-03-13 11:21] #73 closed

[2016-03-13 11:21] rvanlaak commented on #71
Fixed via #74

[2016-03-13 11:21] #71 closed

[2016-03-13 11:57] dmishh commented on #6
When you decided to switch from native serialization to json. In that case you need to convert all values. I thought it could be done automatically or at least create a console command for that

[2016-03-14 07:35] jounisuo opened #75 "PHP 5.4 & 5.5 -support."
Wouldn't it make sense to support 5.4 as the 2.8 -branch of framework-bundle
( https://github.com/symfony/framework-bundle/blob/2.8/composer.json ) supports >=5.3.9? As does Symfony 2.8. Doctrine 2.5 supports >5.4, so why require php 5.6, when some servers might still be on 5.4?

[2016-03-14 07:47] Nyholm commented on #75
This is a very opinionated question. The counter argument is:
Would it make sense to support a PHP version that is **not officially supported**? Why should we bother if not event the core team bothers?

Do you have a reson why you need PHP 5.4 support?

[2016-03-14 07:55] jounisuo commented on #75
The long term support version of symfony supports >=5.3.9 http://symfony.com/doc/2.8/reference/requirements.html
Centos 7 (It's quite popular) only comes with 5.4.

[2016-03-14 08:29] rvanlaak commented on #75
As a bundle we should always consider whether BC compatibility does not stale development of new features, like supporting the Symfony `3.0` branch. Some of the features, like the use of a FQCN to define form types, are a hard BC break that would require the maintainers of all bundles to bump their php requirement.

@Nyholm think we should at least update the `1.x` branch to https://github.com/dmi

[2016-03-17 17:02] Atyz opened #76 "Error on Settings form"
Hello and thx for your work these days !

I updated my project, and now I get an error when I want to display the built-in settings form :

You can quickly get rid of this error by replacing this line in `SettingsController.php` :

by that :

(and add the corresponding use statement)
And then, delete the corresponding service.

Thx again for your work :+1:

[2016-03-17 17:05] rvanlaak commented on #76
You are on `master`, and what version of Symfony are you using? My assumption is `3.0`, for which we did not finish the deprecation fixing yet. See #72

[2016-03-17 17:13] Nyholm commented on #76
Awesome @atyz. Thank you for this bug report. You are correct. That would fix the issue.

Would you mind sending a PR?

[2016-03-21 09:00] Nyholm opened #78 "Add test for the controllers"
We need to add some basic testing for the controllers.

Ref: http://symfony.com/doc/current/book/testing.html#your-first-functional-test

[2016-03-21 09:12] rvanlaak commented on #78
Agree with you, but my project does not use the controllers. We only use the `manager` service and Twig extension.

[2016-03-21 10:43] #76 closed

[2016-04-09 10:29] rvanlaak commented on #75
Think

[2016-04-09 11:08] Nyholm commented on #75
Sure. Lets!

[2016-04-13 07:28] rvanlaak commented on #75
`2.0.0-beta2` has been released, I've updated `UPGRADE.md` accordingly.

[2016-04-13 07:28] #75 closed

[2016-04-13 08:43] rvanlaak opened #79 "Exception on new Cache interface"
When we build the new cached container, we get the following exception:

The cache service we inject right now is defined via `doctrine_cache`:
[code]
[code]
See https://github.com/dmishh/SettingsBundle/blob/master/Resources/doc/advanced-configuration.md

@Nyholm  [The caching layer has changed](https://github.com/dmishh/SettingsBundle/blob/master/Resources/doc/advanced-configuration.md#caching),

[2016-04-13 09:18] Nyholm commented on #79
Yes, we should update the upgrade docs.

The doctrine cache should not be used any more. I do also know that Doctrine has no plans to go PSR6.

No, not in this case. There is a [bridge](https://github.com/php-cache/doctrine-bridge) btw but there is nothing we should use.

No, it is not a requirement. But it will make everything a lot easier if you use that bundle. Read about it here: http://www.ph

[2016-04-13 09:34] rvanlaak commented on #79
Did dive into the adapter bundle and factories a bit, and like the way it's implemented :+1: I'm fine with upgrading to PSR as much as possible, took me 10 minutes to figure out about requiring the additional adapters and changing the config. Basically this is a nice way to push your adapter bundle to the masses right? :wink:

Oh, didn't see a 'issues' tab in the adapter repository. What about add

[2016-04-13 09:46] Nyholm commented on #79
Thats right =)

We have a shared issue tracker for all the repositories: https://github.com/php-cache/issues/issues

That functionality belongs to the [CacheBundle](https://github.com/php-cache/cache-bundle)

[2016-04-13 15:16] rvanlaak commented on #79
@Nyholm the old cache keys collide with the accepted keys in the `CacheBundle` if we do the following:

[code]

![dmissh-setting-reserved](https://cloud.githubusercontent.com/assets/2707563/14498547/2a413d1e-019b-11e6-99f9-e52c98f8cf1a.png)

So basically the caching is broken now, the characters from the key we defined are not in the list of reserved characters. Can you take a look at this?

[2016-04-13 15:37] rvanlaak commented on #72
Did #77 solve this?

[2016-04-14 06:58] #79 closed

[2016-04-15 08:18] millenc opened #82 "Wrong/outdated code snippets in the docs"
I've just begun using this bundle and I've come across a few code snippets in the documentation that are wrong or outdated when compared to the current master. Proposed fixes in the pull request  #83:

### Resources/doc/installation.md

master:

[code]
is missing the *Bundle* part of the namespace just before *SettingsBundle*.

Fixed:

[code]

### Resources/doc/advanced-configuration.md

master:

[2016-04-17 11:36] rvanlaak commented on #82
Hi @millenc, both your proposed fixes reflect changes we made lately to simplify the bundle. Probably you don't have `master` or any of the `2.0.0` betas installed, but do you have a pre-2.0 version.

The namespace changed, as you can see in the class [DmishhSettingsBundle](https://github.com/dmishh/SettingsBundle/blob/master/DmishhSettingsBundle.php#L12)

Concerning the validation, we chose to ma

[2016-04-17 17:16] millenc commented on #82
Sorry @rvanlaak, my bad. You are absolutely right. I installed the package using the instructions on the Installation section of the docs (adding the dependency ""dmishh/settings-bundle": "2.0.*@dev"" to my composer.json file). This makes Composer download the 2.0.0-beta1 version instead of the latest beta3 (I don't know if this is intended or an issue with my composer installation, which is prett

[2016-04-17 19:11] rvanlaak commented on #82
No problem at all, maybe you've installed `beta1` before and is it set to that version via `composer.lock`. Can you try to do `composer update`?

[2016-04-18 07:47] millenc commented on #82
Yeah, I did try to do `composer update` but the result was the same. I've also tried updating Composer and running `composer clearcache` before `update` to make sure it's not a caching issue. None of this worked.

Fortunately I've discovered the issue. I've tried to install the exact `2.0.0-beta3` version and composer complains about not meeting the platform requirements (PHP version). I'm using P

[2016-04-18 08:09] #82 closed

[2016-05-03 11:31] Nyholm commented on #72
Im afraid not.

[2016-05-12 08:17] Falc opened #85 "Clear method does not clear owned settings"
I am using this bundle in a project to define a global `shipping_cost` setting. Since an admin can set a "discounted" shipping cost to specific customers, the setting has `ALL` scope. This way I can do something like `$settings->get('shipping_cost', $user)` to retrieve either the specific (customer) shipping cost, or the global one.

The problem appears when an admin wants to remove the specific s

[2016-05-28 15:39] oidnus opened #88 "Default value in config.yml"
How set default value in config ?

[2016-06-16 17:34] tcowin commented on #40
I can envision using this database persistence for user preferences that would exist across sessions. Is there any expectation of a release date for a 2.1 release?

[2016-06-19 13:48] nexxome opened #89 "Problem with cache"
I use a filesystem cache service like described in the docs. The problem is, when I change the value of a setting with the CachedSettingsManager set method, the cache with the single setting key (for example dmishh_settings__setting) is cleared, but not the cache that will be filled with the all method (dmishh_settings__).
So when I fetch the settings with $this->get('settings_manager')->all(), I

[2016-06-28 14:11] Nyholm commented on #89
Thank you @nexxome for the issue. I've created a PR that I think will fix this problem. Can you try it out and confirm?

PR #90

[2016-06-28 14:40] nexxome commented on #89
Confirmed, #90  fixes this issue. Thanks!

[2016-06-28 15:24] rvanlaak commented on #89
@Nyholm you want me to merge and release a patch version?

[2016-06-28 18:25] Nyholm commented on #89
Awesome @nexxome.

Yes @rvanlaak. I'll make sure the tests passes in that PR and fix the stuff you ask for. :)

[2016-06-28 20:25] #89 closed

[2016-06-28 20:28] Nyholm commented on #89
I've just released beta-4

[2016-10-22 14:54] dmishh opened #93 "Fix the build"
https://travis-ci.org/dmishh/SettingsBundle/jobs/159238973

[2016-11-14 14:11] foaly-nr1 opened #94 "Handle EntityType fields"
This bundle can't currently handle EntityType fields. It will always persist `{}`.

[2017-04-11 08:14] #93 closed

[2017-08-02 06:52] Paktusin opened #97 "Entity"
Hi. Its possible to save Entities in setting field ?
[code]

In this config it save, but then on form load (/settings/global) symfony throw error

[2017-08-02 07:32] Paktusin commented on #97
Solved
**choice_value: id**
[code]

[2017-08-02 07:33] #97 closed

[2018-03-05 13:14] nikophil opened #101 "Symfony 4 support"
Hi,

thanks for this nice bundle.

could you provide a symfony 4 support please ?

thanks

[2018-03-05 13:43] Nyholm commented on #101
Hey.

That is a great idea. What are the steps for this bundle to go to Symfony 4?

[2018-03-05 13:45] nikophil commented on #101
I think it is already compatible with sf4, it just needs some composer.json updates and some flex recipes

[2018-03-05 13:47] Nyholm commented on #101
Great. Could you add a PR for our composer.json and add a flex recipe? I would be happy to merge them both

[2018-03-05 13:48] nikophil commented on #101
okay, i'll try do to it today

[2018-03-05 13:48] Nyholm commented on #101
Excellent

[2018-05-17 14:42] yvoloshin opened #103 "Customizing form labels"
Hello,
Thank you for the bundle! It seems very useful for my purposes. The only problem is that I'm having trouble figuring out how to customize form labels. I tried adding a "label" option under "options" in the configuration file, but that had no effect. Any help would be appreciated.

[2019-11-19 11:55] glennthehuman commented on #101
Hello. May I know if anyone is actively working on this?

[2019-11-21 15:41] anacona16 commented on #101
I'm using this bundle with Symfony 4.3

[2019-11-22 06:38] link365dev commented on #101
@anacona16 What steps did you do? I tried _composer require_ but it didn't go through.

[2019-11-22 13:33] anacona16 commented on #101
I'm using a fork of this bundle, this fork is compatible with SF 4 https://github.com/nikophil/SettingsBundle.git

To use it you should add a new entry in you composer.json file:

[code]

Then in the autoload entry you should add a new line:

[code]

The run composer and it will work.

[2019-12-12 18:09] Nyholm commented on #101
Fixed in master.
I will tag a release later today.

[2019-12-12 18:09] #101 closed

[2019-12-12 18:50] Nyholm commented on #72
This is fixed in master

[2019-12-12 18:50] #72 closed

[2019-12-12 20:10] Nyholm opened #105 "Authenticate with packagist"
Hey @dmishh

Could you re-authenticate with Packagist? See here under **Github hook**: https://packagist.org/about

New versions is not showing up :/

[2019-12-13 08:26] Nyholm opened #108 "The controllers should allow TranslationInterface from the component too"
Currently we only allow TranslationInterface from Contracts. We should allow the same interface from the component too.

Symfony 3.4 is not using contracts.

[2019-12-13 08:35] rvanlaak commented on #108
Would adding a [`class_ _alias`](https://www.php.net/manual/en/function.class-alias.php) be sufficient?

https://github.com/symfony/translation/blob/3.4/TranslatorInterface.php

https://github.com/symfony/translation-contracts/blob/master/TranslatorInterface.php

[2019-12-13 10:41] rvanlaak commented on #108
The controller uses translations for the exception messages.

The exception messages will not be visible to users, as on `prod` the exception message will not get shown.

In other words; the translations in the controller and the translation files can get removed.

[2019-12-13 21:01] dmishh commented on #105
Hi @Nyholm ,
I logged in with GitHub on Packagist and pressed Update. Did it help?

[2019-12-13 21:25] Nyholm commented on #105
Hey. Thank you.

It looks good on packages at the moment. Let's see if it updates automatically next time we release a version.

[2020-04-24 10:14] auchanhub opened #112 "In the documentation "general-usage.md" a typo is presumably"
Here, the second entity should pass the same entity most likely
https://github.com/dmishh/SettingsBundle/blame/1c7b58053ba732862e966fd15050d5bbba570e8e/Resources/doc/general-usage.md#L71

[2020-12-27 21:22] hafkenscheid opened #114 "Symfony 5.1 compatablity"
Today I installed this bundle in my SF 5.1 project and encountered the following issues:

# Routing not working properly
Changed:
[code]
into:
[code]
# Autowiring not working properly
Changed:
[code]
Into:
[code]

# Using deprecated templating paths
Changed:
[code]
Into:
[code]

If I have the time, I will open a PR.

[2020-12-27 21:23] hafkenscheid opened #115 "Feature: integration with EasyAdmin"
I have the idea that it might be usefull to have integration with easyadmin.

[2020-12-27 21:24] hafkenscheid opened #116 "Feature: integration with api-platform"
I have the idea that it might be usefull to have integration with api-platform.

[2021-05-08 08:59] rvanlaak commented on #115
Would be great! Any starting point on how to achieve that? Would you have time to work on a draft PR together?

[2021-05-09 21:42] hafkenscheid commented on #115
There are several possibilities, in my opinion the best being a CrudController linked to this bundle that can be integrated in an EA3 dashboard. However, several other rework needs to be done first to regain compatibility with SF5.x and PHP8. See also #114

[2021-05-10 08:09] rvanlaak commented on #114
Would be great if you can open a PR, so we can get this resolved.

[2021-05-10 17:10] hafkenscheid commented on #114
In that case, it might also be time to loose SF3.4 compatibility and update the dependencies.

[2021-05-13 08:59] hafkenscheid commented on #115
I have been rethinking this integration. Basically I see two options:

1. Integration of the existing Setting-forms in the EasyAdmin template which is a simple change
2. The CrudController as suggested above

For the second integration there are some challenges. At first, being the fact that settings don't have database entries before being saved which makes them unavailable in `Crud::PAGE_INDEX`

[2021-05-13 09:25] rvanlaak commented on #115
Could you give a ballpark on how much code would be needed to add EasyAdmin support? I have no strong opinion on adding it to this bundle, but would introducing a separate bridge bundle be a more viable option?

[2022-03-21 18:02] studio-m2v opened #124 "Symfony 6 compatibility"
Hi,
Has anyone already started working on the changes to be made to be compatible with Symfony 6?
Thank you

[2022-03-23 09:02] rvanlaak commented on #124
Yes this bundle deserves some love. Would you be willing to help with doing maintenance PRs?

[2022-03-23 09:53] studio-m2v commented on #124
@rvanlaak I will try to work on it

[2022-08-23 12:12] tacman commented on #124
What do you think about dropping support for all EOL components for version 3?  That'd make it much easier to upgrade.

That is, PHP 7.4+, Symfony 5.4|6.0, etc.

Personally, I'd like to only support PHP 8, PHP 7.4 is in security fixes only, and in 3 months it will be officially EOL.  Given that anyone who is using older version can still use v2, what do you think?

Related: creating a bundle confi

[2022-08-23 12:13] tacman opened #127 "Use Symfony Serializer"
I think the Symfony Serializer might be better than php's serialize().

Or in addition to, I guess.

[2022-10-03 13:41] MartinCigarsky commented on #127
Is it okay if try to implement this? I also will provide the performance tests.
@rvanlaak